*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}

header{
    background-color: #ffffff;
    height: 80px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    font-style: bold;
}
#barraindex{
    margin-top: 15px;
    border-top: #19a0df solid 3px;
}

#logo{
    width: 150px;
    float: left;
    float: top;
    margin-top: 0;
}
.barra{
    float: right
}
.barra ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;

}
.barra a{
    text-decoration: none;
    color: #030305;
}
.barra :hover{
    color:rgba(4, 50, 255, 0.4)
}
.imageninicio{
    height: 100vh;
    width: 100%;
    background-image: url(./Media/imagen\ inicio\ 2.png);
    background-size: cover;
    background-position: center;
}
footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    float: inline-end;
}
.redes a{
    text-align:center;
    text-decoration: none;
    color:#000000;
    font-size: 50px;
    letter-spacing: 10px;
}
footer p{
    margin-bottom: 50px;
}
.arriba{
    background-color: #2473ce;
    color:#fff;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    
}
p{
    margin-top: 20px;
}
/*BUCEO*/

#cursoedit{
    margin-top: 15px;
    border-top: #19a0df solid 3px;
}
.fotobuceo{
    background-image: url(./Media/diver-1867538_1920.jpg);
    background-position: center;
    width: 100%;
}
.cajonbuceo{
    border: #19a0df solid 5px;
    width: 32%;
    height: 600px;
    margin: 10px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10%; 
    float:left;
    margin-left: 200px;
    text-align: center;
}
.cajonbuceo2{
    border: #19a0df solid 5px;
    width: 32%;
    height: 600px;
    margin: 10px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10%; 
    float: right;
    margin-right: 200px;
    text-align: center;
}
img{
    width: 100%;
    margin-top: 22px;  
}


/*CURSO*/

#cursoedit{
    margin-top: 15px;
    border-top: #19a0df solid 3px;
}
.curso1{
    border: #19a0df solid 5px;
    width: 32%;
    height: 600px;
    margin: 10px;
    padding: 30px;
    margin-top: 40px;
    float:inline-start;
    border-radius: 10%;    
}
.container{
    width: 30%
}

/*CONTACTO*/

#contactoedit{
    font-size: 30px;
}

.prueba1{
    padding: 2%;
    margin-top: 10px;
    border-top: #19a0df solid 3px;
    color: #fff;
    text-align: center;
    background-position: center;
}
.contacto1{
    font-size: x-large;
    margin-top: 10px;
}

.cajatexto{
    width: 300px;
    margin-top: 10px;
    background-color: #ffffff86;
    border-radius: 20px;
}
.textomensaje{
    width: 600px;
    height: 300px;
    margin-top: 10px;
    background-color: #ffffff86;
    border-radius: 20px;
}
#mapa{
    background-position: center;
    margin-top: 30px;

}
#imagencontacto{
    background-image: url(./Media/imagen\ contacto2.jpg);
    background-position: center;
    width: 100%;
}
 /*blog*/

 #fotoblog{
    align-items: center;
    float: inline-end;
    margin-right: 300px;
 }
.parrafoblog{
    width: 560px;
    text-align: left;
    margin-left: 200px;
}
.titulopeli{
    margin-left: 200px;
    margin-top: 50px;
    
}
